@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
  padding:0px;
  margin:0px;
  box-sizing:border-box
}
#header{
        width:100%;
        height:15%;
        background-color:#3391c1;
}
#logo{
      width:22.5%;
      height:100%;
      float:left;

}
#navbar{
        width:77.5%;
        height:100%;
        float:left;
        padding:2% 0
}
#navbar li{
    list-style-type:none;
    float:Right;
    font-size:2vw;
    margin:0 5%;
    font-family: 'Jockey One', sans-serif;
}
a{text-decoration:none;
  color:white
}
a:hover{
        color:whitesmoke
}
.head{width:100%;
             height:10%;
             font-family: 'Jockey One', sans-serif;
             padding:0 3%;
             font-size:2vw;
             margin-top:1%
}
.clothes{width:100%;
        height:75%;
}
.carousel-cell {
        width:21%;
        height: 100%;
        margin-right: 10px;
        border-radius: 5px;
        position:absolute
      }
      .carousel-cell:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
      }
      .carousel-cell img{
        width: 100%;
        height: 70%;
        float:left
      }
#footer{
        width:100%;
        height:35%;
        margin-top:2%;
        background-color:#3391c1;
}
.footer-items{
        width:33%;
        height:75%;
        float:left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size:1.5vw;
        color:white
}
.footer-logo{
        padding:2%
}
.footer-menu{
        padding-top:2%
}
.footer-details{
        padding-top:2%
}
#footer-copyright{
        width:90%;
        height:25%;
        margin:0 5%;
        float:left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size:1.5vw;
        color:white;
        text-align: center;
}
.price{Width:100%;
       height:30%;
       float:left;
       background-color:#d7d7d7;
       color:#3391c1;
       padding:15% 5%;
       font-family: 'MontseRrat', sans-serif;
       font-weight: 600;
       }
#menulogo{position:relative;
          left:80%;
          top:30%;
          width:2%}
#phmenu{
        width:70%;
        height:100%;
        position:absolute;
        top:0px;
        background-color:#266c8f;
}
@MEDIA (max-width:420px)
{
#navbar li{
           display:none
          }
#header{width:100%;
        height:7%
       }
#logo{
        width:35%;
        height:100%
     }
#navbar{
        width:65%;
        height:100%
}
.head{
      font-size:4vw ;
      height:5%  
}
.clothes{
        height:50%;
}
.carousel-cell{
               width:60%
}
#footer{
        height:50%;
}
.footer-items{
              width:100%;
              height:30%;
              font-size:4vw ;
              padding:0 15%
}
#footer-copyright{
                  height:10%;
                  font-size:4vw ;
                }
.footer-logo img {
        width:100%
} 

}
@MEDIA (min-width:420px)
{
        #menulogo{display:none}
}
@MEDIA (max-width:280px)
{
        .price{font-size:3.5vw}
}
@media SCREEN AND (min-width:720px) AND (max-width:1023px)
{
        .head{height:5%}
        .clothes{height:40%}
        #header{height:7.5%}
        #footer{height:20%}
        .carousel-cell{width:30%}
        .head{font-size:3.5vw}
      #navbar li{font-size:3vw}
}